# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# 环境变量
.env
.env.*

# IDE
.idea/
.vscode/

# 日志
log/
logs/
*.log

# 临时文件
tmp/
temp/

# 上传文件
uploads/

# 测试缓存
.pytest_cache/

# macOS
.DS_Store
